<!doctype html>
<html lang="en" ng-app="MyApp" xmlns="http://www.w3.org/1999/html">
    
    <head>
    	<link rel="stylesheet" href="todo.css"/>
    </head>
    
    <body>
    	<!-- angular dependencies -->
    	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

    	<!-- Angular app -->
    	<script type="text/javascript" src="/angular-app/services.js"></script>
    	<script type="text/javascript" src="/angular-app/controllers.js"></script>
		<script type="text/javascript" src="/angular-app/app.js"></script>

    	<div ng-view></div>

    </body>

</html>